<section class="contato" id = "contato">

    <div class="cards">

        <div class="card">
        <a href="">
            <button><i class="bi bi-whatsapp"></i><p>Chamar no Whatsapp</p></button>
        </a>
        </div>

        <div class="card">
        <a href="https://www.instagram.com/theus.knupp/">
            <button><i class="bi bi-instagram"></i><p>Instagram</p></button>
        </a>
        </div>

        <div class="card">
        <a href="">
            <button><i class="bi bi-telephone"></i><p>Ligar</p></button>
        </a>
        </div>

        <div class="card">
        <a href="mailto:matheus.knupp.ds@outlook.com">
            <button><i class="bi bi-envelope-at"></i><p>Enviar Email</p></button>
        </a>
        </div>

    </div>

</section>

