<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<div class="lines">
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
</div>


    <section class="sobrenos" id="sobrenos" #sobrenosSection >
        
        

        <div class="img-sobre">
            <img src="ImgAbouts.png">
        </div>

        <section class="sobre-info">

            <div class="title">
                    <h1> Conheça mais <span>sobre nós...</span></h1>
            </div>

            <div class="caixas">
                
                <div> 
                    <i class="bi-car-front-fill"></i>               
                    <p>Somos a <span>MK</span>, uma empresa especializada em estética automotiva, com mais de 10 anos de experiência no mercado. 
                    Localizados em Coronel Fabriciano, temos orgulho em oferecer soluções completas para quem valoriza o cuidado, a proteção e o visual impecável do seu veículo.</p>
                </div>

                <div>
                    <i class="bi-cone-striped"></i>
                    <p>Nossa missão é entregar excelência em cada serviço, com atenção aos mínimos detalhes e compromisso com a satisfação do cliente. 
                    Trabalhamos com produtos de alta performance, equipamentos modernos e uma equipe altamente qualificada, 
                    apaixonada por carros e pela arte de transformar cada veículo em uma verdadeira obra de arte sobre rodas.</p>
                </div>
            </div>

        </section>

    </section>
    
