<footer> 
    <div class="interface">
        <section class="top-footer"> <!--Parte de cima do Rodapé-->
            <a href="https://www.instagram.com/theus.knupp/"><button><i class="bi bi-instagram"></i></button></a>
            <a href="https://www.linkedin.com/in/matheus-knupp/"><button><i class="bi bi-facebook"></i></button></a>
            <a href="https://www.linkedin.com/in/matheus-knupp/"><button><i class="bi bi-youtube"></i></button></a>
        </section>
        <section class="bottom-footer">
                <p>MK Estetica | Todos os direitos reservados.</p>
                <p class="p1">Desenvolvido por Matheus Knupp</p>
            <div class="icons-dev">
                <a href="https://www.linkedin.com/in/matheus-knupp/"><button><i class="bi bi-linkedin"></i></button></a>
                <a href="mailto:matheus.knupp.ds@outlook.com"><button><i class="bi bi-envelope-at"></i></button></a>
            </div>
        </section>
                    
    </div>
 </footer>