<section class="works" id="works" #workSection>

    <section class="title">
        <section class="title-text" #cardsContainer>

                <div>
                    <h1>Conheça nossos serviços</h1>
                    <p>Performance, brilho e proteção</p>
                    <span>O cuidado que seu carro merece</span>
                </div>    
            
                <button>Saiba mais</button>

        </section>
    </section>


    <section class="boxes">

        <div class="cardsright" #cardsContainer>

            <div class="card" >
                <img src = "Serviços/Lavagem.png" alt = "Lavagem">
                <h1>Lavagem</h1>
                <p>Processo de limpeza do veículo, externamente para remover sujeira, poeira, 
                    lama e outros resíduos que se acumulam com o uso</p>
            </div>

            <div class="card">
                <img src = "Serviços/HigienizaInterna.png" alt = "Higienização">
                <h1>Higienização</h1>
                <p>processo completo de limpeza e desinfecção do interior do veículo,
                que vai além da lavagem superficial. Envolve a remoção de sujeiras, 
                manchase e odores desagradaveis</p>
            </div>

            <div class="card">
                <img src = "Serviços/Polimento.jpg" alt = "Polimento">
                <h1>Polimento</h1>
                <p>Processo de manutenção da estética do carro que visa restaurar o 
                brilho da pintura, removendo imperfeições como arranhões leves,
                manchas e hologramas</p>
            </div>

        </div>

        
        <div class="cardsleft" #cardsContainer>

            <div class="card" >
                <img src = "Serviços/RestauraçaoFarol.jpg" alt = "Restauração de Farol">
                <h1>Restauração de Farol</h1>
                <p>Processo de limpeza do veículo, externamente para remover sujeira, poeira, 
                    lama e outros resíduos que se acumulam com o uso</p>
            </div>

            <div class="card">
                <img src = "Serviços/HidrataCouro.jpg" alt = "Hidratação de Couro">
                <h1>Hidratação de Couro</h1>
                <p>processo completo de limpeza e desinfecção do interior do veículo,
                que vai além da lavagem superficial. Envolve a remoção de sujeiras, 
                manchase e odores desagradaveis</p>
            </div>

            <div class="card">
                <img src = "Serviços/Cristalização.jpeg" alt = "Cristalização">
                <h1>Cristalização</h1>
                <p>Processo de manutenção da estética do carro que visa restaurar o 
                brilho da pintura, removendo imperfeições como arranhões leves,
                manchas e hologramas</p>
            </div>

        </div>


    </section>
</section>

<app-map></app-map>