<header class="app-header">

    <section class="app-menu-desktop">

       <section class="logo-web">
            <img src="/LogoMK.png" alt="Logo"> <!--Não precisa de '../' pois está em public -->
       </section>

        <nav>
            <ul class="nav-links"> <!--Lista não ordenada-->
                <li><a href="#home">Home</a></li>
                <li><a href="#sobrenos">Sobre nós</a></li>
                <li><a href="#">Serviços</a></li>  
                <li><a href="#">Galeria</a></li>          
            </ul>            
        </nav>

        <a href="#"><button>Contato</button></a>   
    </section>
    

</header>