* {
    padding: 0;
    margin: 0;  
    box-sizing: border-box;
}

body {
    display: flex;
}


.banner {
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;

    background-image: url(../../../assets/CarroLimpeza.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: bisque;

    height: 100vh;
    padding-top: 50px;

    overflow: hidden;

    z-index: 0;
}

.banner h1 {
    background-color: rgba(88, 88, 88, 0.048);
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(255, 255, 255);
    font-size: 60px;

    font-weight: 600;
}

/*Effeito do texto*/
h1 > span {
    text-align: start;
    position: relative;
    display: inline-block;
    color: #c99a00;
    height: 1.25em;
    vertical-align: bottom;
    overflow: hidden;
}

h1 > span > span {
    display: block;
    animation: animateWords 7s infinite ease;
}

@keyframes animateWords {
    0% {transform: translateY(0%)}
    25% {transform: translateY(-90%)}
    50% {transform: translateY(-190%)}
    75% {transform: translateY(-290%)}
    100% {transform: translateY(-390%)}
}
