<section class="map" id="map">
   <div class="map-container">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d470.04745788944444!2d-42.6205337!3d-19.5253072!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa554233b86a35f%3A0xe67e88b86998575c!2sR.%20Ephren%20Macedo%2C%2052%20-%20Centro%2C%20Cel.%20Fabriciano%20-%20MG%2C%2035170-026!5e0!3m2!1spt-BR!2sbr!4v1753545491906!5m2!1spt-BR!2sbr" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      <h1>Nos visite!
        <span>Rua Ephrem Macedo, Nº 52, Centro - Coronel Fabriciano</span>
      </h1>
      
   </div>
</section>

<app-footer></app-footer>