
<body>

    <section class="timeline" #timelineSection>

        <div class="container left-container" #containerRef>
            <i class="bi bi-hourglass"></i>
            <div class="text-box">
                <h2>Fundação</h2>
                <p>A MK Estetica automotiva, foi fundada em 2015, por Matheus Knupp, com o conceito de lava jato, nossa instituição era conhecida pelo
                nome 'MK Lava Jato'. O estabelecimento ficava localizado em Coronel Fabriciano, no bairro
                    Melo Viana. Nosso início foi marcado por desafios.
                </p>
                <span class="left-container-arrow"></span>
            </div>
        </div>

         <div class="container right-container" #containerRef>
            <i class="bi bi-mortarboard"></i>
            <div class="text-box">
                <h2>Especialização</h2>
                <p>Em 2017 tomamos a decisão de nos especializar na estética dos veículos, com diversos treinamentos de polimento, uso de produtos e equipamentos
                    tudo para para proporcionar a nossa clientela uma melhor experiência.
                </p>
                <span class="right-container-arrow" ></span>
            </div>
        </div>

         <div class="container left-container" #containerRef>
            <i class="bi bi-person-vcard"></i>
            <div class="text-box">
                <h2>Marca</h2>
                <p>Para uma abragência maior, criamos nossa identidade visual, mudamos nossas cores e nomenclatura, 
                    hoje nos declaramos como MK Estética Automotiva.
                </p>
                <span class="left-container-arrow"></span>
            </div>
        </div>

         <div class="container right-container" #containerRef>
            <i class="bi bi-house-gear"></i>
            <div class="text-box">
                <h2>Novo local</h2>
                <p>Para melhorar a experiência, nos mudamos em 2019 para o bairro Santa Helena, número 40 em Coronel Fabriciano.
                    Um ambiente moderno, amplo e com mais espaço, tanto para os veículos quanto para os nossos clientes!
                </p>
                <span class="right-container-arrow"></span>
            </div>
        </div>

         <div class="container left-container" #containerRef>
            <i class="bi bi-car-front-fill"></i>
            <div class="text-box">
                <h2>Experiência</h2>
                <p>Atualmente, já estamos há mais de 10 anos no mercado, especializados, com novo ambiente, com uma nova identidade visual.
                    Não somos apenas uma empresa que oferece estética, somos uma empresa que oferece uma experiência! 
                </p>
                <span class="left-container-arrow"></span>
            </div>
        </div>
        
    </section>

</body>